/**
  * Styling for the host
  * Applies to game.html
  * @todo make this only apply to host computer
  */

/**
  * Make body a flex element
  * @author Jonathan Lam
  */
body {
  display: flex;
  flex-direction: row;
}

/**
  * style tag for canvas
  * @author Rahul Kiefer
  */
canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
#controls {
  flex: 0 1 0;
}
#game {
  flex: 1 0 0;
  overflow: hidden;
}
