/**
  * Styles for homepage
  * Applies to index.html
  */

/**
  * Put computer and smartphone divs side by side
  * @author Jonathan Lam
  */
body {
  display: flex;
  flex-direction: row;
  background-image: url('/assets/loading_bg.png');
  background-position: center;
  background-size: cover;
  color: white;
}
#infoLink {
  display: block;
  position: absolute;
  top: 1em;
  left: 1em;
  padding: 0.5em;
  cursor: pointer;
}
.deviceTypeContainer {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  font-size: 1.25em;
  background-color: rgba(50, 50, 50, 0.8);
}
.deviceTypeIcon {
  font-size: 10em;
  text-align: center;
}
.deviceTypeHeader {
  text-align: center;
}
.deviceTypeContainer.recommended {
  background-color: rgba(0, 0, 0, 0.3);
}
.deviceTypeContainer.recommended::before {
  content: 'RECOMMENDED';
  font-size: 2em;
  margin-bottom: -1em;
  text-align: center;
  display: block;
  position: relative;
  top: -1em;
}
#joinGameContainer {
  display: flex;
  flex-direction: row;
}
#joinGameId {
  flex-grow: 5;
}
#joinGame {
  flex-grow: 1;
}
button, input {
  background-color: #222;
  border-radius: 0.25em;
  cursor: pointer;
}
