/**
  * Generic page style
  * Applies to both index.html and game.html
  */


/**
  * Set basic styles for all elements and html, body
  * @author Jonathan Lam
  */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  height: 100%;
  font-size: 16px;
  font-family: cousine, monospace;
}
a, button, select, input {
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}
button, input {
  border: none;
  padding: 1em;
}
input {
  background-color: #eee;
}
